    *{
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
body{
    background: rgb(25, 160, 223);

}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid rgb(15, 15, 15);
}


#header{
    height: 145px;
    background: #e7dfdf;


}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}


#logo img{
    float: left;
    height: 100px;



}
#logo a{
    float: left; 
    font-size: 40px;
    letter-spacing: 4px ;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 18px;
    margin-left: 25px;
    text-decoration: none;
    margin-top: 18px ;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
} 
#logo a:hover{
text-shadow: 0px 2px 1px #222222, 0px 0px 4px #000000   ;
}  
/*menu */ 
#menu{
    clear:both;
background: #000000;
color: violet;
height: 55px;
border-bottom: 4px solid #333
}
#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto; 
}

#menu ul li{
    line-height: 55px;
    float:left;
    border-right: 1px solid #fc0909;
}
#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}
#menu a:first-child{
    border-left: 1px solid #ffffff;
}
    #menu a:hover{
        background: #dd5313;
    }
    #content{
        margin: 0px auto;
        overflow: hidden;
        border: 4px solid #7b5bc5a9
    }
#lateral{
    width: 20%;
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 4px solid rgb(5, 45, 105);
}
#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 2px solid green;
}